.movie-list {
  list-style: none;
  margin-right: 1rem;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  grid-auto-columns: 10rem;
  grid-template-rows: min-content;
  gap: 2rem;
  padding-bottom: 1rem;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.movie-list > * {
  scroll-snap-align: start;
}
