.show-list {
    list-style: none;
    margin-right: 1rem;
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    grid-auto-columns: 20rem;
    grid-template-rows: min-content;
    gap: 1rem;
    padding-bottom: 1rem;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
  }
  
  .show-list > * {
    scroll-snap-align: start;
  }
  