.movie-list {
  list-style: none;
  margin-right: 1rem;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  grid-auto-columns: 10rem;
  grid-template-rows: min-content;
  gap: 2rem;
  padding-bottom: 1rem;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.movie-list > * {
  scroll-snap-align: start;
}

@media (max-width: 768px) {
  .group h2 {
    font-size: 20px;
  }

  .group {
    margin-top: 10%;
  }
}

@media (max-width: 500px) {
  .group {
    margin-top: 20%;
  }
}

@media (max-width: 300px) {
  .group {
    margin-top: 30%;
  }
}
