.navigation {
    display: "flex";
    padding-left: 2rem;
}

.navigation h1 {
    font-family: Bahnschrift;
    color: red;
    display: inline-block;
}

.navigation ul {
    display: inline-block;
    list-style: none;
}

.navigation li {
    color: gray;
    font-family: Calibri;
    display: inline-block;
    padding: 1rem;
}